/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilos para o contêiner principal */
.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

/* Estilos para o título principal */
h1 {
    color: #333;
}

/* Estilos para as opções de login e cadastro */
.options {
    display: inline-block;
    width: 45%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para os formulários */
form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="nome"],
input[type="password"],
input[type="date"],
input[type="submit"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para o link de cadastro */
.options a {
    color: #007bff;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}